
*:before, *:after {
  border: 1px solid red;
}


* {
  font-family: "Gentium Book Basic", serif;
  font-weight: 400;
}

body {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

section {
    margin: 50px;
}



/*.logo {
    width: 22%;
    padding: 1%;
    text-align: center;
    float: right;
}
*/


nav {
  width: 50px;
  margin-left: 7%;
  z-index: 1px;
  position: absolute;

  
}

.menu {
  cursor: pointer;
  padding: 15px;
  
}

#logo {
  width: 100%;
}

.menuContainer {
  width: 75px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

}

.hideButton {
    margin: 0;
    padding: 15px;
    border: 1px solid black;
    
}

a:link {
  text-decoration: none;
  color: white;
}

.parentContainer {
  margin: 0 auto;
}

.flexChild {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  align-items: flex-end;
  justify-content: space-around;
  width: 500px;
  
}

#infome {
  font-size: 15pt;
  line-height: 1.2;
}


#arrowNext {
  position: relative;
  bottom: 20px;
  width: 36px;
}

h1 {
  font-size: 80pt;
  margin: 0px;
  padding: 0px;
}

h2 {
    font-size: 25pt;
}

h3 {
    font-size: 18pt;
}

#nameHeader {
  font-weight: 700;
}

#nameHeader:hover {
  background-color: #e1b100;
  color: #ffffff;
}



#heroImg {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 200px;
}

#bottom {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.workimg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 500px;
}


footer {
  background-color: #ffffff;
}

#icon {
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

.parentFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 7%;
}


/*   CSSaboutMe   */

.aboutMe {
    height: auto;
}

#myPortrait {
    float: right;
    height: 700px;
   
}

.whoArea {grid-area: whoArea;}
.whatArea {grid-area: whatArea;}
.whyArea {grid-area: whyArea;}

.infoGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "whoArea"
    "whatArea"
    "whyArea"
    ;
}



/*   CSSwork   */

.skillsContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.skills {
    width: 50%;
}

.workCard {
    border: 1px solid #000000;
    margin: 25px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#workImage {
    width: 100px;
    float: right;
}

#work1 {
    grid-area: work1
}
#work2 {
    grid-area: work2
}

#bottom-work {
    border: 1px solid #000000;
    padding: 25px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "work1"
    "work2"
    ;
}


@media only screen and (max-width: 600px) {

    .workimg {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        ;
      }

}